

html, body, app-root, .app-frame {
  overflow: hidden;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  color: #e0e0e0;
}

.width-360 {
  width: 367px!important;
  margin-bottom: 2em;
  margin-right: 1em;
}

.width-240 {
  width: 240px!important;
  margin-right: 1em;
}
