<div class="mat-typography app-frame mat-app-background">
  <mat-toolbar color="primary" class="text-center">
    <span>Traffic Violation</span>
  </mat-toolbar>
  <mat-card style=" height: 100%; text-align: center;">
    <mat-card-header style="display: flex; justify-content: center; margin-bottom: 3em;">
      <mat-card-title style="display: flex; justify-content: center; align-items: center;">Traffic Violation Report System</mat-card-title>
      <mat-card-subtitle>Enamo karumam</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="display: flex; justify-content: center; align-items: center;">
      <img src="../assets/undraw.svg" height="300" width="auto"/>
      <form [formGroup]="profileForm" style="margin-left: 1em;">
        <div style="margin-bottom: 1em;">
          <span> Video upload: </span>
          <button mat-raised-button aria-label="Upload Videos" (click)="openInput()">
            <input id="fileInput" type="file">
          </button>
        </div>
        <br>
        <div style="display: flex; margin-bottom: 1em;">
          <mat-form-field class="width-240" appearance="fill">
            <mat-label>Red Signal Duration</mat-label>
            <input matInput type="number" min=0 max=300>
          </mat-form-field>
          <mat-form-field class="width-240" appearance="fill">
            <mat-label>Yellow Signal Duration</mat-label>
            <input matInput type="number" min=0 max=300>
          </mat-form-field>
          <mat-form-field class="width-240" appearance="fill">
            <mat-label>Green Signal Duration</mat-label>
            <input matInput type="number" min=0 max=300>
          </mat-form-field>
        </div>
        <mat-form-field class="width-360" appearance="fill">
          <mat-label>in seconds</mat-label>
          <mat-select matInput value="0">
            <div *ngFor="let dummy of ' '.repeat(61).split(''), let item = index">
              <mat-option [value]="item">{{item}}</mat-option>
            </div>
          </mat-select>
          <mat-hint>Video starts with</mat-hint>
        </mat-form-field>
        <br>
        <div style="display: flex;">
          <mat-form-field class="width-360" appearance="fill">
            <mat-label>Position</mat-label>
            <mat-select matInput value="veryNear">
              <mat-option value="veryNear">Very near</mat-option>
              <mat-option value="near">Near</mat-option>
              <mat-option value="far">Far</mat-option>
              <mat-option value="veryFar">Very Far</mat-option>
            </mat-select>
            <mat-hint>Violation line position relative to camera</mat-hint>
          </mat-form-field>
          <mat-form-field class="width-360" appearance="fill">
            <mat-label>Start with</mat-label>
            <mat-select matInput value="red">
              <mat-option value="red">Red</mat-option>
              <mat-option value="green">Green</mat-option>
            </mat-select>
            <mat-hint>Video starts with signal of Red/Green?</mat-hint>
          </mat-form-field>
        </div>
        <br/>
        <button mat-raised-button color="accent" fill>Send Reports</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
